

    <!-- <div class="container"> -->
<div>
       <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">

         <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"
           aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
           <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" [routerLink]="['']">Home</a>
         <a class="navbar-brand" [routerLink]="['/produit']">Produits</a>
         <div class="navbar-collapse collapse">
           <ul class="navbar-nav mr-auto">

           </ul>
           <ul class="nav navbar-nav navbar-right">
           <li class="nav-item"><a class="navbar-brand" [routerLink]="['']">Se connecter</a>
           </li>
          </ul>
         </div>

       </nav>
  </div>

    <!-- </div> -->


<router-outlet></router-outlet>
